* {
  color: #fff;
  margin: 0;
  padding: 0;
}

.socials img {
  height: 40px;
  width: 40px;
}

h1 {
  font-size: 4.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 6rem;
  margin-bottom: 6.5rem;
}

hr {
  width: 68%;
  border: 1px #006d77 solid;
  margin-bottom: 1.875rem;
}

.social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage-left {
  max-width: 49rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  max-width: 37.5rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4.25rem;
}

.spot-button {
  color: #edf6f9;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem 3.4rem;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.25);
  border: none;
  background-color: #006d77;
  border-radius: 0.625rem;
  margin-bottom: 6.5rem;
}

.spot-button:hover {
  cursor: pointer;
  background-color: #005b64;
  transition: background-color 0.5s ease;
}

.spot-button:active {
  cursor: pointer;
  background-color: #004a53;
  box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
  transform: scale(0.99);
  transition: transform 0.2s ease;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

@media (max-width: 600px) {
  .homepage-container {
    flex-direction: column;
  }

  .description {
    display: none;
  }

  .socials {
    /* display: none; */
  }
}
