* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.library-pic {
  height: 54%;
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.black-screen {
  height: 54%;
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.card-container {
  background-color: #006d77;
  width: 36vw;
  height: 98vh;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 0.5rem;
}

.spot-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.location {
  display: flex;
  flex-direction: column;
  align-self: left;
  height: 100%;
  overflow: hidden;
  /* width: 19.5rem; */
  background-color: #1b808a;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
}

.location-library {
  max-height: 100%;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.opening-hours-title {
  font-size: 1.375rem;
  font-weight: 400;
}

.location-title {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.8rem;
  padding: 0.5rem 0;
}

.corner-wrapper {
  overflow: hidden;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  border: none;
}
